<div class="container-fluid ">
    <div class="row">
        <div class="col">
            <div class = "greetings">
                <h1>Hi 👋🏽 I'm Ashim Chalise!</h1>
                <h2> I'm a software engineer 💻.</h2>
            </div>
        </div>
        <div class="col">
            <img src="../../assets/Homepage2.jpg" class="oversize rounded-circle">
        </div>
    </div>
</div>

<!-- <div class="container float-child">
    <div class="write"><h1>Hi, I'm Ashim Chalise!</h1></div>
</div>

<div class="container float-child">
    <img src="../../assets/Homepage2.jpg" class="oversize rounded-circle">
</div> -->