<div class="container-fluid">
    <div class="container-xxl ">
        <div class="row">
            <div class="col-md-6">
                <div class="greetings">
                    <h1>Hi 👋🏽 I'm Ashim Chalise!</h1>
                    <h2> I'm a software engineer 💻.</h2>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/Homepage.jpg" class="rounded-circle img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>