.container-xxl{
    background-color: black;
    min-height: 91vh;
    height: 100%;
}
.container-fluid{
    background-color: black;
}

.row{
    min-height: 91vh;
    height: 100%;
    align-items: center;
}

.col-md-6{
    height: 100%;
    vertical-align: middle;
}

.greetings{
    text-align: center;
    background-color:burlywood;
    color: black;
    border-radius: 5vh;
    padding:2.5vh;
}