<div class="container-fluid">
    <div class="container-xxl">
        <div class="row">
            <div class="about">
                <h1>Hello Again 👋🏽</h1>
                <h2>I'm a Software engineer currently seeking job opportunities all over United States!. </h2>
            </div>
        </div>

        <div class="row">
            <div class="about-desc">
                <h2> &nbsp; &#x2022; I graduated 🎓 from University of North Carolina at Greensboro 🏫 on May 2021 with
                    a Bachelors in Computer Science.</h2>
                <h2> &nbsp; &#x2022; Since August 2021, I have been working in TCS as a fullstack engineer.</h2>
                <h2> &nbsp; &#x2022; I've worked with technologies like Java, SQL, Angular, NodeJS, MongoDB, RestAPI,
                    BootStrap etc.</h2>
                <h2> &nbsp; &#x2022; I love working as a backend engineer but as you can 👀, I love creating websites
                    too!</h2>
                <h2> &nbsp; &#x2022; When I'm free, I like to play video games🎮, listen to music🎶, bartend etc.</h2>
                <h2> &nbsp; &#x2022; I have worked as a Guest Service Associate and a Bartender in the hospitality world
                    in the past at Marriott and other businesses.</h2>
            </div>
        </div>
    </div>
</div>