.navbar {
    background-color: black;
    height: 9vh;
}

.nav-item {
    color: white;
}

.itemQ {
    border: 1px solid white;
    border-width: 0px 1px 0 0;
}

.navbarTwo{
    display: none;
}

@media only screen and (max-width: 991px) {
    .navbarOne{
        display: none;
    }
    .navbarTwo{
        display: contents;
    }
    .offcanvas{
        background-color: black;
        color: white;
    }
}