<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-center w-100">
      <a class="nav-item nav-link itemQ" href="#"><h1>Home </h1></a>
      <a class="nav-item nav-link itemQ" href="aboutComponent"><h1> About </h1></a>
      <a class="nav-item nav-link itemQ" href="experienceComponent"><h1> Experience </h1></a>
      <a class="nav-item nav-link itemLast" href="contactComponent"><h1> Contact</h1></a>
    </div>
  </div>
</nav>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="title1">
        <a routerLink="" style="text-decoration: none; color: black;"><h2>Home</h2></a>
      </div>
    </div>
    <div class="col">
      <div class="title2">
        <a routerLink="/aboutComponent" style="text-decoration: none; color: black;"><h2>About</h2></a>
      </div>
    </div>
    <div class="col">
      <div class="title3">
        <a routerLink="/experienceComponent" style="text-decoration: none; color: black;"><h2>Experience</h2></a>
      </div>
    </div>
    <div class="col">
      <div class="title4">
        <a routerLink="/contactComponent" style="text-decoration: none; color: black;"><h2>Contact</h2></a>
      </div>
    </div>
  </div>
</div> -->
  