.container-xxl{
    background-color: black;
    min-height: 91vh;
    height: 100%;
}

.container-fluid{
    background-color: black;
    padding-bottom: 5vh;
}

.row{
    color: black;
}

.contact{
    margin-top:7.5vh;
    margin-left: 10%;
    text-align: center;
    background-color:wheat;
    width:80%;
    border-radius: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.contact-itemsOne{
    margin-top:7.5vh;
    margin-left: 35%;
    text-align: center;
    background-color:white;
    color:white;
    width:30%;
    border-radius: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.contact-itemsTwo{
    margin-top:7.5vh;
    margin-left: 10%;
    text-align: center;
    background-color:gray;
    color:white;
    width:80%;
    border-radius: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: xx-large;
}

@media only screen and (max-width: 991px) {
    .contact-itemsTwo{
        font-size: medium;
    }
}