<div class="container-fluid">
    <div class="container-xxl">
        <div class="row">
            <div class="contact">
                <h1>Interested in getting in touch? Well, you've landed in the right spot!</h1>
                <h2>Below are some of the ways you can contact me. ☎️</h2>
            </div>
        </div>

        <div class="row">
            <div class="contact-itemsOne">
                <a href="https://www.linkedin.com/in/ashimchalise">
                    <img src="assets/Linkedin.png" height="60vh">
                </a>
            </div>
        </div>
        <div class="row rowEnd">
            <div class="contact-itemsTwo">
                <h1>✉️</h1>
                <p>achalise01@gmail.com</p>
            </div>
        </div>
    </div>
</div>